@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/*Zerando CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fundo-tela*/

html {
    font-size: 62.5%;
    color: white;
    font-family: 'Montserrat';
}

body {
    min-height: 252px;
    max-height: 560px;
    min-width: 320px;
    margin: 0;

    background-image: url(../assets/img/Fundo-Inicio.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}

#hero {
    height: auto;
}

/*Centro - Conteúdo Principal*/

main {
    padding-top: 113px;
    padding-bottom: 113px;
    min-height: 300px;
    max-height: 560px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 136px;
}

.main-content .btn a {
    text-decoration: none;
    list-style: none;
    background-color: #443C60;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 205px;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    width: 258px;
    height: 50px;
    color: #fff;
    cursor: pointer;
}

.main-content .btn a:hover {
    background-color: rgb(153, 41, 234, 1);
    color: #fff;
}

/*Texto conteúdo principal*/

.primary-text {
    width: auto;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 34px;
    text-align: left;
}

.second-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

/*Text Responsive Margin Mobile*/

@media screen and (max-width: 480px) {
    .main-content {
        margin-left: 29px;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 29px;
    }
}

/*Text Responsive Margin Tablet*/

@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 86px;
    }
    
}

/*Botão*/

#inscreva-se-btn {
    background-color: #443C60;
    border-radius: 10px;
}

#inscreva-se-btn:hover {
    background-color: rgb(153, 41, 234, 1);
    color: #fff;
}



/*Margin = fora | Padding = dentro*/