header {
    background-color: #C4C4C4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding-left: 183px;
    padding-right: 183px;
    display: flex;
    justify-content: space-between;
}

img {
    padding-top: 13px;
    padding-bottom: 14px;
}

nav {
    padding-top: 37px;
    padding-bottom: 39px;
    text-align: right;
}

a {
    color: #FFF;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 800;
    text-decoration: none;
    margin-right: 24px;
}


/*Margin = fora | Padding = dentro*/