@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/*Zerando CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fundo-tela*/

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Montserrat';
}

body {
    background-image: url(/assets/img/Fundo-Inicio.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

 /*Responsive Mobile*/

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }
}

 /*Responsive Tablet*/

 @media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
}

/*Menu - Header - NavBar*/



/*Centro - Conteúdo Principal*/

main {
    height: 87vh;
    display: flex;
    justify-content: left;
    align-items: left;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 136px;
    margin-top: 113px;
}

.main-content .btn a {
    text-decoration: none;
    list-style: none;
    background-color: #443C60;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 205px;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    width: 258px;
    height: 50px;
    color: #fff;
    cursor: pointer;
}

.main-content .btn a:hover {
    background-color: rgb(153, 41, 234, 1);
    color: #fff;
}

/*Texto conteúdo principal*/

.primary-text {
    width: 717px;
    font-weight: 800;
    font-size: clamp(20px, 1em + 3vw, 64px);
    margin-bottom: 34px;
    text-align: left;
}

.second-text {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(11px, 1em + 3vw, 24px);
}

/*Text Responsive Margin Mobile*/

@media screen and (max-width: 480px) {
    .main-content {
        margin-left: 29px;
    }
    .primary-text {
        width: 717px;
        font-weight: 800;
        font-size: clamp(20px, 1em + 3vw, 64px);
        margin-bottom: 34px;
        text-align: left;
    }
    
    .second-text {
        font-style: normal;
        font-weight: 400;
        font-size: clamp(11px, 1em + 0.3vw, 24px);
    }
}

/*Text Responsive Margin Tablet*/

@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 86px;
    }
    
}

/*Botão*/

#inscreva-se-btn {
    background-color: #443C60;
    border-radius: 10px;
}

#inscreva-se-btn:hover {
    background-color: rgb(153, 41, 234, 1);
    color: #fff;
}


/*Margin = fora | Padding = dentro*/