h2 {
    background-color: #443C60;
    color: #fff;
    position: absolute;
    left: 23.21%;
    right: 23.21%;
    top: 64.98%;
    bottom: 24.89%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}