h1 {
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 76px;
    padding-left: 136px;
}

h3 {
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-left: 139px;
    padding-top: 113px;
}

.banner {
    background-image: url(../../assets/img/fundo-inicio.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 560px;
    left: 0px;
    top: 118px;
}

.banner .button{
    margin-left: 136px;
    margin-top: 34px;
    padding-left: 15px;
    padding-right: 14px;
}