.benefícios {
    background: #443C60;
    box-sizing: border-box;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    padding-bottom: 61px;
}

.box-benefícios {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
}

.tema {
    position: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 41px;
    line-height: 50px;
    color: #FFFFFF;
}

.info {
    position: center;
    margin-top: 50px;
    margin-left: 150px;
    width: 400px;
    overflow: hidden;
    text-align: left;
}

.info h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.info p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #C4C4C4;
}