.box-info {
    width: 1536px;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-info .info {
    max-width: 260px;
    height: 174px;
    position: relative;
    padding: 52px 43px 59px 43px;
    background: #443C60;
    flex-direction: column;
    transition: 0,5s ease-in-out;
    margin-top: -135px;
    margin-right: 14px;
}

.box-info .info:hover {
    height: 700px;
    max-width: 260px;
    background: #F0F0F0;
    margin-right: 14px;
}

.box-info .info .imagem {
    position: relative;
    height: 70px;
    width: 70px;
    left: 95px;
    top: 0px;
    z-index: 1;
    align-items: baseline;
}

.box-info .info:hover .imagem {
    position: relative;
    height: 70px;
    width: 70px;
    left: 95px;
    top: 0px;
    z-index: 1;
    visibility: hidden;
    align-items: baseline;
}

.box-info .info .imagem2 {
    position: relative;
    height: 70px;
    width: 70px;
    left: 95px;
    top: 0px;
    z-index: 1;
    visibility: hidden;
    align-items: baseline;
}

.box-info .info:hover .imagem2 {
    position: relative;
    height: 70px;
    width: 70px;
    left: 95px;
    top: -160px;
    z-index: 1;
    visibility: visible;
    margin-bottom: -135px;
    align-items: baseline;
}

.box-info .info .imagem img {
    max-width: 100%;
    align-items: baseline;
}
.box-info .info .title {
    position: relative;
    margin-top: 32px;
    text-align: center;
    padding: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    visibility: visible;
    transition: 0,3s ease-in-out;
}

.box-info .info:hover .title {
    position: relative;
    margin-top: -20px;
    text-align: center;
    padding: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    visibility: hidden;
    transition: 0,3s ease-in-out;
}

.box-info .info .título {
    position: relative;
    text-align: center;
    padding-top: -60px;
    padding-bottom: 60px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #443C60;
    visibility: hidden;
    transition: 0,3s ease-in-out;
}

.box-info .info:hover .título {
    visibility: visible;
    transition: 0,3s ease-in-out;
    cursor: pointer;
    margin-top: -50px;
    padding: -50px;
}

.box-info .info .title2 {
    position: relative;
    margin-top: -50px;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    color: #443C60;
    visibility: hidden;
    transition: 0,3s ease-in-out;
}

.box-info .info:hover .title2 {
    visibility: visible;
    transition: 0,3s ease-in-out;
    cursor: pointer;
}
