.box-pdf {
    background: #443C60;
    box-sizing: border-box;
    font-family: 'Montserrat';
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.card-pdf {
    margin-left: 121px;
    flex-wrap: wrap;
}

.box-pdf .card-pdf img {
    width: 640px;
    float: right;
    margin-left: 101px;
    padding-top: 77px;
    padding-right: 122px;
    margin-bottom: 77px;
    display: block;
}

.box-pdf .card-pdf h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 44px;
    margin-top: 77px;
    font-size: clamp(24px, 1em + 3vw, 44px);
}

.box-pdf .card-pdf p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
}

.box-pdf .card-pdf a {
    background-color: #C4C4C4;
    color: #443C60;
    border-radius: 3px;
    text-decoration: none;
    list-style: none;
    margin-top: 44px;
    display: inline-block;
    padding: 15px 11px;
    margin-right: 0;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 77px;

}
.box-pdf .card-pdf a:hover {
    margin-top: 44px;
    transform: scale(1.09);
    background-color: #9929EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: #fff;
}

/*Responsive Box-PDF*/

@media screen and (max-width: 820px){
    .box-pdf {
        box-sizing: content-box;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
        overflow: hidden;
        text-align: center;
        width: 100%;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }
    .box-pdf .card-pdf img {
        align-items: center;
        height: auto;
        padding: 0;
        float: none;
        margin: 0 auto;
    }
    .card-pdf {
        align-items: center;
        padding: 0;
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px){
    .box-pdf {
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;

    }
    .box-pdf .card-pdf img {
        align-items: center;
        width: 241px;
        height: 161px;
        padding: 0;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        line-height: 0;
    }
    .card-pdf {
        align-items: center;
        padding: 0;
        margin: 20px;
        padding: 20px;
    }
}