@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/*Zerando CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
}

#contato_form {
    width: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#contato_form div {
    margin: 10px auto;
}

#contato_form div iframe {
    width: 500px;
    height: 400px;
    transition: all 1.5s ease-in-out;
}

.socialmedia-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
}

.imput-group {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.imput-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.imput-box imput {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 6px #0000001c;
}

.imput-box imput:hover {
    background-color: #eeeeee75;
}

.imput-box imput:focus-visible {
    outline: 1px solid #9929EA;
}

.imput-box label,
.gender-title h6 {
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
}

.imput-box imput::placeholder {
    color: #eeeeee75;
}

button {
    width: 30%;
    border: none;
    background-color: #443C60;
    padding: 0.62rem;
    border-radius: 3px;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

button:hover {
    background-color: #9929EA;
}

.tema2 h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: left;
    color: #443C60;
    text-align: left;
}

.tema3 h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: left;
    color: #443C60;
    text-align: left;
}

.tema3 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

